{%- import "components.html" as components -%}

{% extends "base.html" %}

{% block content %}
{% match diff %}
{% when Ok with (this_diff) %}
{% if this_diff.is_empty() %}
<i>No differences found</i>
{% else %}
<ul>
  {% for item in this_diff %}
  <li>
    {% match item %}
    {% when crate::sshclient::DiffItem::DuplicateKey with (key) %}
    <details>
      <summary>
        There is a duplicate key on this host</summary>
      There are multiple copies of this key:

      {% call components::public_key(key) %}

      <button hx-swap="none" hx-post="/render/diff/deduplicate_key" hx-vals='{
        "key_type": "{{ key.key_type }}",
        "key_base64": "{{ key.key_base64 }}"
        {% match key.comment %}
        {% when Some with (comment) %}
        ,"key_comment": "{{ comment }}"
        {% when None %}
        {% endmatch %}
        }'>Deduplicate this key</button>

    </details>
    {% when crate::sshclient::DiffItem::UnknownKey with (key) %}
    <details>
      <summary>
        There is an unknown key on this host
      </summary>
      The following key is not (yet) known:

      <div>
        {% call components::public_key(key) %}
      </div>

      <button hx-swap="none" hx-post="/render/diff/assign_key" hx-vals='{
        "key_type": "{{ key.key_type }}",
        "key_base64": "{{ key.key_base64 }}"
        {% match key.comment %}
        {% when Some with (comment) %}
        ,"key_comment": "{{ comment }}"
        {% when None %}
        {% endmatch %}
        }'>Assign this key to a user</button>

      <button hx-swap="none" hx-post="/render/diff/remove_key" hx-vals='{
        "key_type": "{{ key.key_type }}",
        "key_base64": "{{ key.key_base64 }}"
        {% match key.comment %}
        {% when Some with (comment) %}
        ,"key_comment": "{{ comment }}"
        {% when None %}
        {% endmatch %}
        }'>Remove this key</button>
    </details>
    {% when crate::sshclient::DiffItem::KeyMissing with (key, username) %}
    <details>
      <summary>
        A key owned by <pre>{{username}}</pre> is missing on this host
      </summary>
      The following key should be on this host, but is missing:
      <pre>{{ key.key_type }}</pre>
      <pre>{{ key.key_base64 }}</pre>

      <button hx-swap="none" hx-post="/render/diff/add_key" hx-vals='{
        "key_type": "{{ key.key_type }}",
        "key_base64": "{{ key.key_base64 }}"
        {% match key.comment %}
        {% when Some with (comment) %}
        ,"key_comment": "{{ comment }}"
        {% when None %}
        {% endmatch %}
        }'>Add this key</button>
    </details>
    {% when crate::sshclient::DiffItem::UnauthorizedKey with (key, username) %}
    <details>
      <summary>
        An unauthorized key owned by <a href="/users/{{ username }}">{{ username }}</a> is present on this host
      </summary>
      The following key should not be on this host:
      <pre>{{ key.key_type }}</pre>
      <pre>{{ key.key_base64 }}</pre>

      <button hx-swap="none" hx-post="/render/diff/remove_key" hx-vals='{
        "key_type": "{{ key.key_type }}",
        "key_base64": "{{ key.key_base64 }}"
        {% match key.comment %}
        {% when Some with (comment) %}
        ,"key_comment": "{{ comment }}"
        {% when None %}
        {% endmatch %}
        }'>Remove this key</button>
    </details>
    {% endmatch %}
  </li>
  {% endfor %}
</ul>
{% endif %}
{% when Err with (err) %}
<p>Error: {{ err }}</p>
{% endmatch %}
{% endblock %}