{%- import "components.html" as components -%}

{% extends "base.html" %}

{% block content %}
{% match diff %}
{% when Ok with (this_diff) %}
{% if this_diff.is_empty() %}
<i>No differences found</i>
{% else %}
<ul>
  {% for item in this_diff %}
  <li>
    {% match item %}
    {% when crate::sshclient::DiffItem::DuplicateKey with (key) %}
    <details>
      <summary>
        There is a duplicate key on this host</summary>
      There are multiple copies of this key:


      <p>Key type: {{ key.key_type }}</p>

      {% match key.comment %}
      {% when Some with (comment) %}
      <p>Comment: {{ comment }}</p>
      {% when None %}
      {% endmatch %}



    </details>
    {% when crate::sshclient::DiffItem::UnknownKey with (key) %}
    <details>
      <summary>
        There is an unknown key on this host
      </summary>
      The following key is not (yet) known:

      <div>
        {% call components::public_key(key) %}
      </div>

      {% call components::form_head("/user/add_key") %}
      <input type="hidden" name="key_type" value="{{ key.key_type }}" />
      <input type="hidden" name="key_base64" value="{{ key.key_base64 }}" />

      {% match key.comment %}
      {% when Some with (comment) %}
      <input type="hidden" name="key_comment" value="{{ comment }}" />
      {% when None %}
      {% endmatch %}

      <label>Assign this key to a user</label>
      {% call components::user_selection(users) %}
      {% call components::form_tail("Assign") %}

    </details>
    {% when crate::sshclient::DiffItem::KeyMissing with (key, username) %}
    <details>
      <summary>
        A key owned by <pre>{{username}}</pre> is missing on this host
      </summary>
      The following key should be on this host, but is missing:
      <pre>{{ key.key_type }}</pre>
      <pre>{{ key.key_base64 }}</pre>

      <button>Upload key</button>
    </details>
    {% when crate::sshclient::DiffItem::UnauthorizedKey with (key, username) %}
    <details>
      <summary>
        An unauthorized key owned by <a href="/users/{{ username }}">{{ username }}</a> is present on this host
      </summary>
      The following key should not be on this host:
      <pre>{{ key.key_type }}</pre>
      <pre>{{ key.key_base64 }}</pre>

      <button>Remove key</button>
    </details>
    {% endmatch %}
  </li>
  {% endfor %}
</ul>
{% endif %}
{% when Err with (err) %}
<p>Error: {{ err }}</p>
{% endmatch %}
{% endblock %}