{% extends "base.html" %}

{% block content %}
{% match res %}
{% when crate::routes::FormResponse::Success with (message) %}
<b>Success:</b><br>
<i>{{ message }}</i>
{% when crate::routes::FormResponse::Error with (message) %}
<b>An error occured:</b><br>
<i>{{ message }}</i>
{% when crate::routes::FormResponse::Dialog with (dialog) %}
<p>{{ dialog.title }}</p>
<form hx-post="{{ dialog.request_target }}" hx-swap="none">
  {{ dialog.template|safe }}
  <button onClick="closeModal(); return false;">Close</button>
  <button>{{ dialog.button_text }}</button>
</form>
<aside class="form_response" id="dialog_response_error" style="display: none"></aside>
{% endmatch %}
{% endblock %}