<!DOCTYPE html>
<html lang="en">

<head>
	{% block head %}
	<title>{% block title %}ssh-key-manager{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script src="https://unpkg.com/htmx.org@2.0.0"></script>
	{% endblock %}
</head>

<body>
	<nav>
		<ul>
			<li><a href="/">Overview</a></li>
			<li><a href="/hosts">List hosts</a></li>
			<li><a href="/diff">View diff</a></li>
			<li><a href="/users">List Users</a></li>
			<li><a href="/keys">List keys</a></li>
		</ul>
	</nav>

	<main>
		{% block content %}
		{% endblock %}
	</main>

	{% block footer %}
	<aside id="snackbar">
	</aside>
	<dialog id="form_response_dialog">
	</dialog>
	<script src="/forms.js" defer></script>
	<footer>
		<p id="version">v{{ env!("CARGO_PKG_VERSION") }}</p>
		<a href="https://github.com/styliteag/ssh-key-manager" title="View sourcecode on GitHub">View source code on
			GitHub</a>
	</footer>
	{% endblock %}
</body>

</html>