<!DOCTYPE html>
<html lang="en">

<head>
	{% block head %}
	<title>{% block title %}ssm{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script src="https://unpkg.com/htmx.org@2.0.0"></script>
	{% endblock %}
</head>

<body>
	<h1>Secure SSH Manager</h1>
	<nav>
		<a href="/">Overview</a>
		<a href="/hosts">List hosts</a>
		<a href="/diff">Issues</a>
		<a href="/users">List Users</a>
		<a href="/keys">List keys</a>
	</nav>

	<main style="margin-top: 2rem;">
		{% block content %}
		{% endblock %}
	</main>

	{% block footer %}
	<aside id="snackbar">
	</aside>
	<dialog id="form_response_dialog">
	</dialog>
	<script src="/forms.js" defer></script>
	<footer>
		<p id="version">v{{ env!("CARGO_PKG_VERSION") }}</p>
		<a href="https://github.com/styliteag/ssm" title="View sourcecode on GitHub">View source code on
			GitHub</a>
	</footer>
	{% endblock %}
</body>

</html>