{% macro public_key(key) %}
<p>Key type:</p>
<pre>{{ key.algorithm }}</pre>
<p>{% match key.comment %}
  {% when Some with (comment) %}
  Comment:
<pre>{{ comment }}</pre>
{% when None %}
<i>No comment attached to this key.</i>
{% endmatch %}
</p>
<p>Key Base64</p>
<pre>{{ key.base64 }}</pre>
{% endmacro %}

{% macro maybe_options(options) %}
{% match options %}
{% when Some with (options) %}
{{ options }}
{% when None %}
<i>No options set</i>
{% endmatch %}
{% endmacro %}

{% macro maybe(option, default) %}
{% match option %}
{% when Some with (value) %}
{{ value }}
{% when None %}
<i>{{ default }}</i>
{% endmatch %}
{% endmacro %}

{% macro basic_user_selection(users, name) %}
<select name="{{ name }}">
  {% for user in users %}
  <option value="{{ user }}">{{ user }}</option>
  {% endfor %}
</select>
{% endmacro %}

{% macro user_selection(users) %}
<select name="user_id">
  {% for user in users %}
  <option value="{{ user.id }}">{{ user.username }} {% if user.enabled == false %} (Disabled) {% endif %}
  </option>
  {% endfor %}
</select>
{% endmacro %}

{% macro form_head(target) %}
<form hx-post="{{ target }}" hx-swap="none">
  {% endmacro %}}}

  {% macro form_tail(message) %}
  <button>{{ message }}</button>
</form>
{% endmacro %}

{% macro post(name, target, opts) %}
<button hx-swap="none" hx-post="{{ target }}" hx-vals='{ {{ opts }} }'>{{ name }}</button>
{% endmacro %}

{% macro post_direct(name,confirmation, target, opts) %}
<button hx-confirm="{{ confirmation }}" hx-swap="none" hx-post="{{ target }}" hx-vals='{ {{ opts }} }'>{{ name
  }}</button>
{% endmacro %}