{%- import "components.html" as components -%}
{% extends "base.html" %}

{% block content %}

<h3>Hosts</h3>
<hr>
<table hx-trigger="load, reload-hosts from:main" hx-get="/hosts/list.htm" placeholder="Loading" hx-swap="innerHTML">
</table>
<hr>
{% call components::form_head("/hosts/add") %}
<h4>Add a new host</h4>
<label>Name</label>
<input required="true" type="text" name="name">
<label>Username to authenticate as</label>
<input required="true" type="text" name="username">
<label>Hostname</label>
<input required="true" type="text" name="hostname">
<label>Port</label>
<input required="true" type="number" name="port" min="1" max="65535">
<label>Jump via</label>
<select id="jumphost_selection" name="jumphost">
</select>
{% call components::form_tail("Add host") %}
{% endblock %}