<thead>
  <tr>
    <th>Host</th>
    <th>Hostname</th>
    <th>View diff</th>
  </tr>
</thead>
<tbody>
  {% for host in hosts %}
  <tr>
    <td><a href="/hosts/{{ host.name }}">{{ host.name }}</a></td>
    <td>{{ host.hostname}}</td>
    <td><a href="/diff/{{ host.name }}">Diff</a></td>
  </tr>
  {% endfor %}
</tbody>

<select id="jumphost_selection" name="jumphost" hx-swap-oob="true">
  <option value="-1">none</option>
  {% for host in hosts %}
  <option value="{{ host.id }}">{{ host.name }}</option>
  {% endfor %}
</select>