{%- import "components.html" as components -%}

{% extends "base.html" %}

{% block content %}
<h1>Host: {{ host.name }}</h1>
{% set path="/hosts/" .to_owned() + host.name.as_str() + "/delete" %}
{% call components::post("Delete this host", path.as_str(), "" ) %}
<a class="button" href="/diff/{{ host.name }}">View diff</a>
<p>Address: {{ host.address}}</p>
<p>Port: {{ host.port }}</p>
<p>Username: {{ host.username }}</p>
<p>Key fingerprint: {{ host.key_fingerprint }}</p>
{% match jumphost %}
{% when Some with (via) %}
<p>Connecting via: <a href="/hosts/{{ via }}">{{ via }}</a></p>
{% when None %}
{% endmatch %}
<p>Allowed users:</p>
<table>
  <thead>
    <tr>
      <th>Login</th>
      <th>User</th>
      <th>Options</th>
      <th>Tasks</th>
    </tr>
  </thead>
  <tbody>
    {% for user in authorized_users %}
    <tr>
      <td>{{ user.2 }}</td>
      <td><a href="/users/{{ user.1 }}">{{ user.1 }}</a></td>
      <td>
        {% match user.3 %}
        {% when Some with (options) %}
        <pre>{{ options }}</pre>
        {% when None %}
        <i>No options set</i>
        {% endmatch %}
      </td>
      <td>
        {% let s = format!("\"authorization_id\": {}", user.0) %}
        {% call components::post("Edit", "/hosts/edit_authorization", s) %}
        {% call components::post_confirm("Delete","Are you sure you want to delete this authorization?",
        "/hosts/delete_authorization", s) %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% call components::form_head("/hosts/user/authorize") %}
<h2>Authorize a user on this host</h2>
<input type="hidden" name="host_id" value="{{ host.id }}" />
<label>Username</label>
{% call components::user_selection(user_list) %}
<label>User on host</label>
{% call components::basic_user_selection(users_on_host, "user_on_host") %}
<label>Options</label>
<input name="options">
{% call components::form_tail("Authorize user") %}
{% endblock %}