{%- import "components.html" as components -%}

{% extends "base.html" %}

{% block content %}
<h3>Host: {{ host.name }}</h3>
<p>Hostname: {{ host.hostname }}</p>
<p>Port: {{ host.port }}</p>
<p>Username: {{ host.username }}</p>
<p>Key fingerprint: {{ host.key_fingerprint }}</p>
{% match jumphost %}
{% when Some with (via) %}
<p>Connecting via: <a href="/hosts/{{ via }}">{{ via }}</a></p>
{% when None %}
{% endmatch %}
<p>Allowed users:</p>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>User on host</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    {% for user in authorized_users %}
    <tr>
      <td><a href="/users/{{ user.0 }}">{{ user.0 }}</a></td>
      <td>{{ user.1 }}</td>
      <td>
        {% match user.2 %}
        {% when Some with (options) %}
        <pre>{{ options }}</pre>
        {% when None %}
        <i>No options set</i>
        {% endmatch %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% call components::form_head("/hosts/user/authorize") %}
<h3>Authorize a user on this host</h3>
<input type="hidden" name="host_id" value="{{ host.id }}" />
<label>Username</label>
{% call components::user_selection(user_list) %}
<label>User on host</label>
{% call components::basic_user_selection(users_on_host, "user_on_host") %}
<label>Options</label>
<input name="options">
{% call components::form_tail("Authorize user") %}
{% endblock %}