{%- import "components.html" as components -%}

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Comment</th>
      <th>Fingerprint</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for (key, maybe_fingerprint) in keys %}
    <tr>
      <td>{{ key.key_type }}</td>
      <td>
        {% match key.comment %}
        {% when Some with (comment) %}
        {{ comment }}
        {% when None %}
        <i>No comment</i>
        {%endmatch %}
      </td>
      {% match maybe_fingerprint %}
      {% when Ok with (fingerprint) %}
      <td>{{ fingerprint }}</td>
      {% when Err with (err) %}
      <td>
        Something has gone wrong: {{ err }}
      </td>
      {%endmatch %}
      <td>
        {% call components::post_confirm("Delete this key", "Are you sure you want to delete this key?", "/keys/delete",
        format!("\"id\": {}", key.id)) %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>