{%- import "components.html" as components -%}

{% extends "base.html" %}
{% block content %}
{% let username = user.username.as_str() %}
<h3>User: {{ username }}</h3>
<p> Enabled: {{ user.enabled }}</p>
<h3>Authorizations:</h3>
<table>
  <thead>
    <tr>
      <th>Host</th>
      <th>User on host</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    {% for (host, user_on_host, options) in authorizations %}
    <tr>
      <td>{{ host }}</td>
      <td>{{ user_on_host }}</td>
      <td>{% call components::maybe_options(options) %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<h3> SSH Keys:</h3>
<div hx-trigger="load" hx-get="/users/{{ user.username }}/list_keys.htm"></div>
{% let confirmation = format!("Are you sure you want to delete {}? This will also remove all associated
authorizations.", username) %}
{% let opts = format!("\"username\": \"{}\"", username) %}
{% call components::post_direct("Delete user", confirmation,"/users/delete", opts) %}

{% endblock %}