{%- import "components.html" as components -%}

{% extends "base.html" %}
{% block content %}
{% let username = user.username.as_str() %}
<h3>User: {{ username }}</h3>
<p> Enabled: {{ user.enabled }}</p>
<h3>Authorizations:</h3>
<table>
  <thead>
    <tr>
      <th>Host</th>
      <th>User on host</th>
      <th>Options</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for (auth_id, host, user_on_host, options) in authorizations %}
    <tr>
      <td>{{ host }}</td>
      <td>{{ user_on_host }}</td>
      <td>{% call components::maybe_options(options) %}
      <td>
        {% let s = format!("\"authorization_id\": {}", auth_id) %}
        {% call components::post("Edit", "/hosts/edit_authorization", s) %}
        {% call components::post_confirm("Delete","Are you sure you want to delete this authorization?",
        "/hosts/delete_authorization", s) %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h3> SSH Keys:</h3>
<div hx-trigger="load, reload-keys from:body" hx-get="/users/{{ user.username }}/list_keys.htm"></div>

{% endblock %}